main {
    margin: 10px auto;
    width: 100%;
}

.principal {

    width: 80%;
    background-color: brown;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;


        &__tarjetas {
            width: min-content;
            height: 100%;
            background-color: black;
            border-radius: 10px;
            color: white;
            padding: 10px;
            margin: 10px;
        }

        h2 {
            font-size: xx-large;
            text-transform: uppercase;
            padding: 10px 0;
            font-family: $fuente_titulos;
            text-align: center;
        }

        h3 {
            text-decoration: overline red;
            font-family: $fuente_titulos;
            text-align: center;
        }

        ol {
            margin: 10px 30px;
            padding: 10px;
            font-family: $fuente_numeracion;
        

            li {
                padding: 5px 0;
            }

            li:hover {
                background-color: yellow;
                color: black;
            }

            li:hover::marker {
                color: yellow;
                font-weight: bold;
            }
        }
}